includes:
    - extension.neon

parameters:
    paths:
        - src/

    # Level 10 is the highest level
    level: 8

    reportPossiblyNonexistentGeneralArrayOffset: false
    reportPossiblyNonexistentConstantArrayOffset: true
    checkMissingCallableSignature: true
    checkBenevolentUnionTypes: true
