includes:
    - extension.neon

parameters:
    paths:
        - src/

    # ToDo: Enable this in the future
    reportPossiblyNonexistentGeneralArrayOffset: false
    checkMissingCallableSignature: false
    checkBenevolentUnionTypes: true
    reportPossiblyNonexistentConstantArrayOffset: true

    # Level 10 is the highest level
    level: 6

#    typeAliases:
#        Email: 'non-empty-string'

#    ignoreErrors:
#        - '#class-string<operations.default_server>#'

#
#    excludePaths:
#        - ./src/Adapters/*
