includes:
    - extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    strictRules:
        booleansInConditions: false
    paths:
        - src/

    # Level 10 is the highest level
    level: 8

    reportPossiblyNonexistentGeneralArrayOffset: false
    reportPossiblyNonexistentConstantArrayOffset: true
    checkMissingCallableSignature: true
    checkBenevolentUnionTypes: true
